body {
    background-color: lightblue;
    margin-top: 60px;
}

h1 {
    text-align: center;
    font-size: 55px;
    color: orange;
}

h2 {
    font-size: 30px;
    color: red;
}

form {
    font-size: 20px;
}

#eaten {
   margin-left: 970px;
   /* padding-top: 30px; */
   
}

#eatenItems {
    font-size: 20px;
}

img {
    margin-left: 41%;
}


#notEaten {
    position: fixed;
    /* padding-top: 30px; */
    
    
    
    margin-left: 20px;
    
    
}

#notEatenItems {
    font-size: 20px;
}

#searchBar {
    text-align: center;
    
    
}